<form method="post" action="{{action}}" class="{{form_class}}">
  {{! This is required for the form to work correctly }}
  {{hidden}}

  <div class="form-group{{#if error}} error{{/if}}">
    <label for="subscribe_email" class="visually-hidden">Enter your e-mail to subscribe</label>
    {{input_email class=input_class placeholder=placeholder value=email autofocus=autofocus id=subscribe_email autofill=email}}
  </div>
  <button class="{{button_class}}" type="submit"><span>Subscribe</span></button>
  {{! This is used to get extra info about where this subscriber came from }}
  {{script}}
</form>

{{#if error}}
  <p class="main-error">{{error.message}}</p>
{{/if}}
